<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New user</title>
</head>
<body>
<!--панель инфо юзера + логаут-->
<div th:insert="fragments/header::header(${currentUser})"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills">
                <a class="nav-link active" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </div>
        </div>

        <div class="col-md-10">
            <h3>Admin panel</h3>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/add">New user</a>
                </li>
            </ul>

            <div class="card">
                <h4 class="card-header">Add new user</h4>
                <div class="card-body">
                    <form action="/admin/add" method="POST" th:object="${user}">
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Name</p>
                                <input type="text" class="form-control" name="name" id="name"
                                       placeholder="Name" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Surname</p>
                                <input type="text" class="form-control" name="surname" id="surname"
                                       placeholder="Surname" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Department</p>
                                <input type="text" class="form-control" name="department" id="department"
                                       placeholder="Department" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Salary</p>
                                <input type="text" class="form-control" name="salary" id="salary"
                                       placeholder="Salary" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Password</p>
                                <input type="text" class="form-control" name="password" id="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-4">
                                <p class="text-center font-weight-bold mb-md-0">Roles</p>
                                <select name="roles" class="form-control" id="roles" multiple required>>
                                    <option th:each="role : ${roles}"
                                            th:value="${role}"
                                            th:text="${role}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <form action="admin/add">
                            <button class="btn btn-success">Add new user</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>