<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header(currentUser)">
    <header>
        <nav class="navbar navbar-dark bg-dark text-white">
            <div class="navbar-brand">
                <b><span th:text="${currentUser.name}"></span></b>
                <span>with roles:</span>
                <span th:text="${currentUser.getRoles()}"></span>
            </div>
            <div class="navbar-nav" sec:authorize="isAuthenticated()">
                <a class="mav-item nav-link" href="/logout">Logout</a>
            </div>
        </nav>
    </header>
</div>