<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/edit}" th:object="${user}">
    <input type="hidden" th:value="${user.id}" name="id">

    <label>Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label>Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label>Department: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <br><br>
    <label>Salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br><br>
    <label>Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>
    <label>Roles: </label>
    <select th:field="*{roles}" id="roles" name="roles" multiple>
        <option th:value="ROLE_ADMIN"
                th:text="ADMIN">
        </option>
        <option th:value="ROLE_USER"
                th:text="USER">
        </option>
    </select>
    <br><br>
    <input type="submit" value="Edit"/>
</form>

<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>

</body>
</html>